.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;
  color: #45852d;
  margin-top: 0;
  margin-bottom: 45px;
}

@media (max-width: 700px) {
  .title {
    font-size: 26px;
    line-height: 59px;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 20px;
    line-height: 53px;
    margin-bottom: 25px;
  }
}
