@font-face {
  font-family: "OpenSans";
  src: url("./OpenSans-400.woff2") format("woff2"),
    url("./OpenSans-400.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("./OpenSans-700.woff2") format("woff2"),
    url("./OpenSans-700.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}
